@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
:root{
    --primary-color : #1B2330;
    --secondary-color : #56CFD9;
    --dark-color : #181F2B;
    --font-color : #fff;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
  font-family: 'Raleway', sans-serif;
  background-color: var(--primary-color);
  color : var(--font-color);
}
img {
  width: 100%;
}
button {
  cursor: pointer;
}
.hidden {
    display: none;
}
/* nav */

.nav .flex{
    justify-content: space-between;
}

.nav img{
    width : 150px;
}
.nav a {
    text-decoration: none;
    margin: 0 20px;
    color : var(--font-color);
}
.nav li{
     font-size: 20px;
    list-style-type: none;
    
}

.bg-img{
    background-size: 100%;
    background-position:bottom;
    background-repeat: no-repeat;

}
/* showcase */
.showcase .flex{
    flex-direction: column;
}
.showcase img{
    width: 700px;
}
.showcase h1, .showcase p {

    text-align: center;
}
.showcase .flex h1{
    font-size: 35px;
    font-weight: bolder;
    font-weight: 900;
}
.showcase p{
    font-weight: 500;
    line-height: 25px;
}
.showcase button{
    transition: 0.5 ease-in;
    color: var(--font-color);
    font-weight: 700;
    background-color: var(--secondary-color);
    border-radius: 40px;
    border: none;
    height: 40px;
    width: 200px;
}
.showcase button:hover{
   filter: brightness(150%);
}
/* featurs */

.features .grid {
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
}
.features .flex{
    justify-content: space-around;
    flex-direction: column;
}
.features img{
    margin: 20px 0;
    width: 100px;
  
}
.features h2{
    margin: 5px 0;
    text-align: center;
}
.features p{
    margin: 5px 0;
    text-align: center;
}
/* how it works */
.how-works .flex{
    justify-content: space-between;
}
.how-works img{
    width: 500px;
}
.how-works h1{
    font-size: 40px;
    font-weight: 900;
}
.how-works p{
    margin: 20px 0;
}
.how-works .text .flex {
    justify-content: unset;
}
.how-works a{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    color : var(--secondary-color);
}
.how-works a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom:0;
  left: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.how-works a:hover::before {
  transform: scaleX(1);
}
.how-works .text img{
    width: 20px;
    margin: 0 10px;
}

/* quotes */
.qoutes .qoute {
   
    width: 40px;
    z-index: -1;
}
.qoutes .grid{
    position: relative;
    bottom: 20px;
    z-index: 1;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.qoutes .card img{
   
    width: 35px;
    border-radius: 60px;
}
.qoutes .card .flex{
    float: left;
    margin-top: 20px;
}
.qoutes .card .flex .text{
    margin: 0 10px;
}
.qoutes .card .flex .text h6{
    margin: 5px 0;
}
.qoutes .card .flex .text p{
    font-size: 10px;
}
/* form */
.form .card {
    position: relative;
    top: 125px;
    width: 70%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.form .flex{
    justify-content: center;
}
.form .alert .flex {
    justify-content: flex-start;
}
.form .alert .flex p {
    font-weight: bold;
    margin: 10px 40px;
    color: red;
}
.form h1, .form p{
    text-align: center;
    margin: 10px 0;
}
.form form{
    margin: 20px 0;
}

.form input[type='text']{
    padding: 0 30px;
    width: 400px;
    height: 40px;
    border-radius: 30px;
    border:none
}
.form input[type='text']:focus{
    outline: none;
    border: 3px var(--secondary-color) solid;
}
.form input[type="submit"]{
    margin: 0 20px;
    color: var(--font-color);
    font-weight: 700;
    background-color: var(--secondary-color);
    border-radius: 40px;
    border: none;
    height: 40px;
    width: 200px;
}
.form input[type="submit"]:hover{
   filter: brightness(150%);
}

/* footer */
.footer {
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: rgb(12, 21, 36)
}
.footer .grid{
    column-gap: 80px;    
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
}
.footer .flex {
    flex-direction: row;
}
.footer p, .footer a{
    font-weight: bold;
}
.footer img{
    width: 150px;
}
.footer .left-1 .flex img{
    margin: 30px 0;
    width: 30px;
}
.footer .left-1 .flex p{
    margin: 30px 20px;
}
.footer .left-2 .flex {
    
    margin: 10px 0;
}

.footer .left-2 .flex img{
    width: 20px;

    justify-self: flex-start;
}
.footer .left-2 .flex p {
    margin: 0 10px;
    justify-self: flex-end;
}
.footer .right-1 .grid{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.footer .right-1 a{
    text-decoration: none;
    margin: 10px 0;
    color : var(--font-color);
    
}
.footer .right-2 a{
    text-decoration: none;
    margin: 0 20px;
    color : var(--font-color);
}

/* phone */
@media(max-width: 500px)  {
    .container, .how-works .container, .qoutes .container {
        margin: 0 2rem;
    }
    .nav .container {
        margin: 0 20px;
    }
    .nav .flex{
        justify-content: space-between;
    }
    .nav img{
        width: 100px;
    }
  
    .nav a{
        margin: 0 8px;
        
    }
    .nav li{
        font-size: 19px;
    }
    .showcase img{
    width: 360px;
    }  
    .features .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .how-works .text .flex {
        flex-direction: row;
        justify-content: center;
    }
    .form .flex{
        flex-direction: column;
    }
    .form .card{
      
        width: unset;
    }
    .form input[type='text']{
        width: 100%;
        margin: 10px 0;
    }
    .form input[type='button']{
        width: 100%;
    }
    .footer .grid{
     margin: 0 10px; 
    grid-template-columns: repeat(1, 1fr);
   
    }
    .qoutes .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .how-works .flex{
        flex-direction: column;
    }
 
    .how-works img{
        width: 300px;
    }
    .footer .right-1 .grid{
        grid-template-columns: 1fr;

    }
    .footer .right-2 {
        margin: 40px 0;
    }
    .footer .flex {
        justify-content: flex-start;
    }
    .footer .right-2 .flex{
        justify-content: center;
    }
}